<!-- Ver2.0 20091107-->
a:link{
    color:#24FCEA;
}

a:hover{
    color:#E5FBF9;
    background-color:#0C656C;
}

a:visited{
    color:#19406D;
}

a:active{
    color:#19855B;
}

body{
    background-image:url(img/bg.png);
    background-repeat:repeat-y;
    color:#434343;
}

.main{
    background-color:#FFFFFF;
    border:1px solid #353535;
    width:700px;
}

.side_frame{
    background:url('img/sidebg1.jpg') repeat-y left top;
    border:1px solid #353535;
    float:left;
    width:125px;
    background-color:#D8D8EA;
    margin-left:7px;
    margin-bottom:5%;
}

.main_frame{
    float:right;
    width:540px;
    text-align:left;
    padding:0px 10px;
}

.top_frame{
    background:#133d6f url('img/img.jpg') no-repeat top left;
    width:680px;
    height:80px;
    color:#FFFFFF;
    font-size:1.1em;
    text-align:right;
    padding:10px;
    margin-bottom:10px;
}

.menu_base{
    width:100%;
    padding:0px;
    margin-left:0px;
}

.menu_element{
    width:100%;
    height:25px;
    padding:5px 5px;
    list-style-type:none;
}

.menu_element_head{
    background:url('img/sidebg.png') repeat-y left top;
    margin:0px;
    background-color:#1C26B2;
    padding:5px 0px;
    color:#FFFFFF;
}

.NAME{
    font-size:large;
}

h2{
    background-image:url(img/titlebg.png);
    background-repeat:no-repeat;
    color:#FFFFFF;
    padding-left: 8px;
}

h6{
    margin-bottom:20%;
}

li{
    padding-bottom:2%;
}
<!-- OLD STYLE-->

#pagetop{
padding:20px 10px 10px 10px;
text-align:right;
}
#copy{
clear:both;
border-top:1px solid #666;
color:#666;
padding:3px 10px;
text-align:center;
}

#omo{
display:none;
}
